	 <div class="upper_bg">
		 <div class="container">
		   <div class="debt_slogan">
			   <a href="#"><%= image_tag "logo.png", style: 'height:54px;width:150px;', class: 'img-fluid' %></a>
		     <h2>Struggling With Debt?</h2>
		     <h6>Do you have less than £5,000 worth of<br>debt, owing more than 1 creditor?</h6>
			 </div>
			 <div class="d-flex justify-content-center">
			 <div class="debt_slogancst">

			   <ul>
				    <h4>Check if you qualify now to:</h4>
			    <li><%= image_tag "check.png", style: 'height:24px;width:23px;', class: 'img-fluid' %> Freeze your interest and charges from increasing
          </li>
			    <li><%= image_tag "check.png", style: 'height:24px;width:23px;', class: 'img-fluid' %> Lower your bills to manageable monthly payments  </li>
			    <li><%= image_tag "check.png", style: 'height:24px;width:23px;', class: 'img-fluid' %> Write off your unsecured debts  </li>
			    <li><%= image_tag "check.png", style: 'height:24px;width:23px;', class: 'img-fluid' %> Take away your money worries </li>

			   </ul>
				 <div class="clearfix"></div>

			   </div>
				 </div>
			  <div class="text-center"><a href="https://debtclear.today/new?source=TIKTOK&SID=1" target="_blank" type="button" class="btn btn-primary btn-lg cstbtn">Check If You Qualify</a></div>
		 </div>
	  </div>